.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-right: 1px solid #e6e6e6;
}
.navbar-logo{
  height: 40px;
  width: 45px;
}
.nav-list{
  list-style: none;
}
.nav-item .bx{
  font-size: 28px;
  color: #b1b1b1;
}
.nav-item{
    padding: 18px 0;
}
.tooltip{
  font-size: 30px;
}
.nav-item:hover .bx{
  color: #000;
}

